html {
  box-sizing: border-box;
}

*,
*::after
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-image: url(https://www.m24.ru/b/d/nBkSUhL2h1Aunc61I76BrNOp2Z318Ji-mifGnuWR9mOBdDebBizCnTY8qdJf6ReJ58vU9meMMok3Ee2nhSR6ISeO9G1N_wjJ=-0o6RiixbQ9heK5bt9kFXw.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Monserrat", sans-serif;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 900;
  color: #ccebfd;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__list-item {
  margin-right: 20px;
}

.menu__list-link {
  padding: 10px 20px;
  font-size: 20px;
  color: #ffcbea;
  cursor: pointer;
  transition: all 0.3s;
}

.menu__list-link:hover {
  color: #64ee4f;
}